

.header{
    display: flex;
    justify-content: space-between;
    
    padding: 24px 100px ;
 
      
        background-color: #fff;
}.logo {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo >p {
    font-family: var(--font-family);
        font-weight: 600;
        font-size: 22px;
        line-height: 1.45455;
        color: var(--black);
        
}

.div{
    display: flex;
    gap: 20px;
}