.userMenu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;

}

.textUserMenu {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: var(--black);
}

.buttonUserMenu {
    width: 81px;
    height: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
}